body {
            background-color: #111111;
            color: #F1F1F1;
            font-family: 'Inter', sans-serif;
        }
        .prose {
            color: #d1d5db; /* text-gray-300 */
        }
        .prose h1, .prose h2, .prose h3 {
            color: #F1F1F1; /* text-off-white */
        }
        .prose a {
            color: #FF4500; /* text-neon-orange */
            text-decoration: underline;
        }